@import "../../../Styles/common.scss";

.sub_nav {
  position: fixed;
  left: 0;
  width: 100%;
  height: 66px;
  top: 54px;
  z-index: 11;
}

.sub_nav_inner {
  width: 1100px;
  height: 66px;
  margin: 0 auto;
  .sub_top_ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px 93px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sub_li {
    margin-left: 20px;
    padding: 10px;
    height: 56px;
    &:hover {
      color: #669900;
    }
  }

  a {
    color: $navfoo-color;
    display: block;
    height: 100%;
  }
}
