@import "../../../Styles/common.scss";
.navbar {
  position: relative;

  .nav_wrap {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    z-index: 11;
    background: $basic-color;
    border-bottom: 1px solid #e5e5e5;

    .nav_inner {
      position: relative;
      width: 1100px;
      margin: 0 auto;

      .logo {
        position: absolute;
        width: 75px;
        height: 75px;
        top: 22px;
        left: 20px;
        z-index: 12;

        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }

      .util_nav {
        position: absolute;
        height: 20px;
        right: 93px;
        top: 15px;
        width: 550px;

        ul {
          display: flex;
          justify-content: space-between;
          font-family: Arial, Helvetica, sans-serif;
        }

        li {
          text-align: center;
          margin-left: 8px;
        }
        a {
          color: $navfoo-color;
        }

        .util_sign_in {
          width: 70px;
        }
        .util_all {
          width: 140px;
        }
      }
    }
  }
}
