@import "../../Styles/common.scss";

.gnb_sub_wrap {
  background: #2c2a29;
  position: absolute;
  width: 100%;
  top: 66px;
  left: 0;
  &:hover {
    color: #669900;
  }
}

.gnb_sub {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 20px 0;
  line-height: 1.5;
}

.gnb_sub_inner {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  ul {
    flex-direction: column;
    a {
      color: white;
      &:hover {
        color: #669900;
      }
    }
  }

  .gnb_sub_ul {
    color: white;

    .change {
      line-height: 0.5;
      margin-top: 20px;
    }
    li {
      color: #fefefe;
      margin-bottom: 15px;
      font-size: 13px;
    }
  }
}
